@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jura:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(images/1hede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Genos', sans-serif;
    font-size: 200px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Genos', sans-serif;
    font-size: 96px;
    color: #FFFFFF;
}

h3 {
    font-family: 'Jura', sans-serif;
    font: 50px;
    color: #376A46;
}


/******************************************** Header ********************************************/

nav {
    width: 900px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
}

nav a {
    color: #376A46;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    font-size: 20px;

    transition: 0.1s;
}

nav a:hover {
    color: #6C2960;
}

#compheader {
    height: 75px;
    width: 100%;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    background-color: #FFFFFF;

    display: flex;
    justify-content: right;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}


/********* logo *********/
#complogo {
    position: fixed;
    top: 10px;
    left: 50px;
    z-index: 10001;
}

#moblogo {
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    z-index: 10001;
}

/******** Dropdown menu ********/
.dropdown {
    position: relative;
    display: inline-block;
}

.btn {
    display: inline-block;
    color: #376A46;
    padding: 0px 0px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    justify-content: center;
    border: 1px solid #000000;
    background-color: #829B6A;
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;

    z-index: 100;
}

.dropdown-menu a {
    display: block;
    text-align: left;
    padding: 0;
    margin: 5px;
    color: #FFFFFF;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0.9;
    z-index: 100;
    color: #FFFFFF;
}

.dropdown a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.5s ease;
}

.dropdown a:hover::after {
    width: 100%;
}

nav .dropdown-menu a {
    position: relative;
    font-size: 20px;
    color: #FFFFFF;
}

/******** Burger menu ********/
#tabmobnav {
    display: flex;
    justify-content: right;
}

#tabmobnav .container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #376A46;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: #6C2960;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: #6C2960;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

.navbar {
    border: 3px solid #000000;
}

.navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

}

.navbar-links a:first-child {
    background-color: white;
}

.navbar-links a:nth-child(odd) {
    background-color: rgba(105, 127, 62, 0.85);
}

.navbar-links a:nth-child(even) {
    background-color: rgba(55, 106, 70, 0.85);
}

.navbar-links a:last-child {
    background-color: rgba(108, 41, 96, 0.85);
}

.navbar-links.active {
    display: block;
    text-align: center;
}

.navbar-links a {
    display: block;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    font-size: 28px;
    border-bottom: 3px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******** Knap ********/
#planlaeg {
    background-color: #6C2960;
    color: white;

    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    transition: 0.5s;

    color: white;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
}

#planlaeg:hover {
    background-color: #829B6A;
}


/******************************************** Main ********************************************/

main {
    margin: 150px;
}


#forside {
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.box1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 200px;
}

.box2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 200px;
}

#plan {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

h2 {
    margin-left: 45px;
    margin-right: 45px;
}


/******** Knap ********/
#knap {
    background-color: #6C2960;
    color: white;

    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-top: 10px;

    transition: 0.5s;

    color: white;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
}

#knap:hover {
    background-color: #829B6A;
}


/******************************************** Footer ********************************************/
.comptabfoot {
    width: 100%;
    height: 150px;
    background-color: #376A46;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comptabfoot p {
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
}

.kntkt {
    display: flex;
    justify-content: left;
    margin: 15px;
}

.kntkt img {
    margin-right: 15px;
}

#scl a {
    margin-left: 15px;
}


/******************************************** Media Query ********************************************/
@media screen and (min-width:1150px) {
    #tabmobnav {
        display: none;
    }

    #moblogo {
        display: none;
    }

    .tabsitephoto {
        display: none;
    }

    .mobsitephoto {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    #compheader {
        height: 50px;
        width: 100%;

        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        background-color: #FFFFFF;

        display: flex;
        justify-content: right;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    #compnav {
        display: none;
    }


    #complogo {
        display: none;
    }

}

@media screen and (max-width:850px) {
    #complogo {
        display: none;
    }

    #compnav {
        display: none;
    }

    .comptabfoot {
        display: none;
    }


    .seemore a {
        text-decoration: none;
        font-size: 16px;
    }

    main {
        margin: 100px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 125px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 64px;
        color: #FFFFFF;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 50px;
        color: #ffffff;
    }

}

@media screen and (max-width:700px) {
    main {
        margin: 75px;
        margin-top: 100px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 100px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 56px;
        color: #FFFFFF;

        margin-left: 35px;
        margin-right: 35px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 48px;
        color: #ffffff;
    }


}

@media screen and (max-width:600px) {
    main {
        margin: 75px;
        margin-top: 100px;
    }

    .box1 {
        margin-bottom: 150px;
    }

    .box2 {

        margin-bottom: 150px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 80px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        margin-left: 30px;
        margin-right: 30px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 40px;
        color: #ffffff;
    }
}

@media screen and (max-width:500px) {
    main {
        margin: 50px;
        margin-top: 100px;
    }



    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 70px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        margin-left: 25px;
        margin-right: 25px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 40px;
        color: #ffffff;
    }
}

@media screen and (max-width:400px) {
    main {
        margin: 35px;
        margin-top: 125px;
    }

    .box1 {
        margin-bottom: 125px;
    }

    .box2 {
        margin-bottom: 125px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 60px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 38px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 30px;
        color: #ffffff;
    }
}


@media screen and (max-width:360px) {
    #compnav {
        display: none;
    }

    .navbar-links a {
        font-size: 20px;
    }

    #complogo {
        display: none;
    }

    main {
        margin: 35px;
        margin-top: 100px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 30px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font: 20px;
        color: #ffffff;
    }

}