@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jura:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

main {
    background-color: rgba(105, 127, 62, 0.25);
    }

/********* fonts *********/
h1 {
    font-family: 'Genos', sans-serif;
    font-size: 96px;
    color: #376A46;
}

h2 {
    font-family: 'Jura', sans-serif;
    font-size: 64px;
    color: #697F3E;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Jura', sans-serif;
    font-size: 46px;
    color: #376A46;
}

h4 {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    /* color: #FFFFFF; */
    color: #FFFFFF;
    text-decoration: none;
}

p {
    font-family: 'Plus Jakarta San', sans-serif;
    font-size: 20px;
    color: #000000;
}

a {
    text-decoration: none;
}

/******************************************** Header ********************************************/

nav {
    width: 900px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
}

nav a {
    color: #376A46;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    font-size: 20px;

    transition: 0.1s;
}

nav a:hover {
    color: #6C2960;
}

#compheader {
    height: 75px;
    width: 100%;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    background-color: #FFFFFF;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}


/********* logo *********/
#complogo {
    position: fixed;
    top: 10px;
    left: 50px;
    z-index: 10001;

}


/******** Dropdown menu ********/
.dropdown {
    position: relative;
    display: inline-block;
}

.btn {
    /* Linket/knappen som er markør for dropdownmenuen */
    display: inline-block;
    color: #376A46;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    /* Sørger for at menuen ikke er synlig før hover */
    position: absolute;
    /* Søger for at dropdown menuen ligger sig uner menupunktet*/
    border: 1px solid #000000;
    background-color: #829B6A;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    /* Søger for at dropdownmenuens punkter er placeret jævnt under hinanden */
    text-align: left;
    margin: 5px;
    color: #FFFFFF;
}

.dropdown:hover .dropdown-menu {
    display: block;
    /* Sørger for at dropdownmenuen bliver synlig ved hovereffekt */
    opacity: 0.9;
    z-index: 100;
    color: #FFFFFF;
}

.dropdown a::after {
    /* Laver sammen med nedenstående styling animationen under hver enkelt dropdownmenu-link */
    content: "";
    position: absolute;
    left: 0;
    /* Sørger for at placere den animerede streg direkte under linket */
    bottom: -2px;
    width: 0;
    /* Skaber den flydende anumation fra venstre mod højre */
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.5s ease;
}

.dropdown a:hover::after {
    width: 100%;
}

nav .dropdown-menu a {
    position: relative;
    font-size: 20px;
    color: #FFFFFF;
}

/******** Burger menu ********/
#tabmobnav {
    display: flex;
    justify-content: right;
}

#tabmobnav .container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #376A46;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    background-color: #6C2960;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: #6C2960;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}

.navbar {
    border: 3px solid #000000;
}

.navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

}

.navbar-links a:first-child {
    background-color: white;
}

.navbar-links a:nth-child(odd) {
    background-color: rgba(105, 127, 62, 0.85);
}

.navbar-links a:nth-child(even) {
    background-color: rgba(55, 106, 70, 0.85);
}

.navbar-links a:last-child {
    background-color: rgba(108, 41, 96, 0.85);
}

.navbar-links.active {
    display: block;
    text-align: center;
}

.navbar-links a {
    display: block;
    height: 50px;
    color: #fff;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    font-size: 28px;
    border-bottom: 3px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******** Knap ********/
#planlaeg {
    background-color: #6C2960;
    color: white;


    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;

    transition: 0.5s;

    color: white;
    font-family: 'Jura', sans-serif;
    text-decoration: none;
}

#planlaeg:hover {
    background-color: #829B6A;
}

/******************************************** Main ********************************************/
#topphoto {
    width: 100%;
    height: auto;
    margin-top: 75px;
}

#content {
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12%;
}

.box1 {
    text-align: left;
}

.box2 {
    height: auto;
    width: 100%;
    text-align: right;
}

.compsitephoto {
    height: 563px;
    width: 100%;

    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.tabsitephoto {
    height: auto;
    width: 100%;

    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.mobsitephoto {
    height: 300px;
    width: 100%;

    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.seemore a {
    font-family: 'Plus Jakarta San', sans-serif;
    font-size: 18px;
    color: #829B6A;
    text-decoration: none;
}

.seemore a:hover {
    color: #6C2960;
}

/******* Sticky menu *******/
.fourcards div {
    height: 175px;
    width: 100%;
    background-color: rgba(55, 106, 70, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.fourcards {
    position: sticky;
    top: 75px;
    width: 100%;
    flex-wrap: wrap;
}

.menupic {
    height: 125px;
    width: 250px;

    border-radius: 10px;

    margin-right: 15px;
    margin-left: 15px;

    opacity: 75%;
}

.snglcrd {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.snglcrd:hover {
    transform: scale(1.08);
    opacity: 100%;
    transition: 0.7s;
}

.snglcrd h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    font-size: 36px;
    /* background-color: rgba(130, 155, 106, 0.5); */
}

/******************************************** Footer ********************************************/
.comptabfoot {
    width: 100%;
    height: 175px;
    background-color: #376A46;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comptabfoot p {
    color: #FFFFFF;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    flex-wrap: wrap;
}

.kntkt {
    display: flex;
    justify-content: left;
    margin: 15px;
}

.kntkt img {
    margin-right: 15px;
}

#scl a {
    margin-left: 15px;
}


/******************************************** Media Query ********************************************/
@media screen and (min-width:1150px) {
    #tabmobnav {
        display: none;
    }

    .tabsitephoto {
        display: none;
    }

    .mobsitephoto {
        display: none;
    }

    #tablogo {
        display: none;
    }

    #moblogo {
        display: none;
    }

    .mobfoot {
        display: none;
    }
}

@media screen and (max-width:1150px) {
    #compheader {
        height: 50px;
        width: 100%;

        border-bottom-width: 3px;
        border-bottom-style: solid;
        border-bottom-color: #000000;
        background-color: #FFFFFF;

        display: flex;
        justify-content: right;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    #compnav {
        display: none;
    }
    
    #tablogo {
        display: none;
    }
    
    #moblogo {
        display: none;
    }

    .compsitephoto {
        display: none;
    }

    .mobsitephoto {
        display: none;
    }

    .fourcards {
        display: none;
    }

    .mobfoot {
        display: none;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 72px;
        color: #376A46;
    }

    h2 {
        font-family: 'Jura', sans-serif;
        font-size: 32px;
        color: #697F3E;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font-size: 20px;
        color: #376A46;
    }

    h4 {
        font-family: 'Jura', sans-serif;
        font-size: 32px;
        color: #FFFFFF;
        color: #FFFFFF;
        text-decoration: none;
    }

    p {
        font-family: 'Plus Jakarta San', sans-serif;
        font-size: 20px;
        color: #000000;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width:860px) {
    #complogo {
        display: none;
    }

    #compnav {
        display: none;
    }

    #tablogo {
        height: 125px;
        width: 125px;
        position: fixed;
        top: 10px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        z-index: 10002;
    }

    .comptabfoot {
        display: none;
    }

    footer div {
        flex-wrap: wrap;
    }

    .mobfoot {
        width: 100%;
        height: 225px;
        background-color: #376A46;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobfoot p {
        color: #FFFFFF;
        font-family: 'Jura', sans-serif;
        font-size: 18px;
        flex-wrap: wrap;
    }

    .kntkt2 {
        display: flex;
        justify-content: left;
        margin: 15px;
    }

    .kntkt2 img {
        margin-right: 15px;
    }

    #scl2 a {
        margin-left: 15px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 38px;
        color: #376A46;
    }

    h2 {
        font-family: 'Jura', sans-serif;
        font-size: 24px;
        color: #697F3E;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font-size: 20px;
        color: #376A46;
    }

    h4 {
        font-family: 'Jura', sans-serif;
        font-size: 32px;
        color: #FFFFFF;
        text-decoration: none;
    }

    p {
        font-family: 'Plus Jakarta San', sans-serif;
        font-size: 16px;
        color: #000000;
    }

    .seemore a {
        text-decoration: none;
        font-size: 16px;
    }


}

@media screen and (max-width:360px) {
    #compnav {
        display: none;
    }

    .navbar-links a {
        font-size: 20px;
    }

    #complogo {
        display: none;
    }

    #tablogo {
        display: none;
    }

    #moblogo {
        height: 100px;
        width: 100px;
        position: fixed;
        top: 10px;
        display: flex;
        justify-content: center;
        margin-left: 20px;
        z-index: 10002;
    }

    .compsitephoto {
        display: none;
    }

    .fourcards {
        display: none;
    }

    .comptabfoot {
        height: 250px;
    }


    footer div {
        flex-wrap: wrap;
    }

    .comptabfoot {
        display: none;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 26px;
        color: #376A46;
    }

    h2 {
        font-family: 'Jura', sans-serif;
        font-size: 18px;
        color: #697F3E;
        margin-bottom: 20px;
    }

    h3 {
        font-family: 'Jura', sans-serif;
        font-size: 14px;
        color: #376A46;
    }

    h4 {
        font-family: 'Jura', sans-serif;
        font-size: 32px;
        color: #FFFFFF;
        text-decoration: none;
    }

    p {
        font-family: 'Plus Jakarta San', sans-serif;
        font-size: 14px;
        color: #000000;
    }

    .seemore a {
        text-decoration: none;
        font-size: 14px;
    }
}