@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jura:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

main {
    background-color: rgba(105, 127, 62, 0.25);
}

/********* fonts *********/
h1 {
    font-family: 'Genos', sans-serif;
    font-size: 96px;
    color: #376A46;
}

h2 {
    font-family: 'Jura', sans-serif;
    font-size: 64px;
    color: #697F3E;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Jura', sans-serif;
    font-size: 46px;
    color: #376A46;
}

h4 {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    /* color: #FFFFFF; */
    color: #FFFFFF;
    text-decoration: none;
}

p {
    font-family: 'Plus Jakarta San', sans-serif;
    font-size: 20px;
    color: #000000;
}

a {
    text-decoration: none;
}
/******************************************** Main ********************************************/
#topphoto {
    width: 100%;
    height: auto;
    margin-top: 75px;
}

#content {
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12%;

}

.headtext {
    margin-bottom: 50px;
}

#topbox {
    margin-top: 35px;
}

.box1 {
    text-align: left;
}

.box1 .seemore {
    margin-top: 35px;
}

.compsitephoto {
    height: auto;
    width: 100%;

    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subsite { /* udersideoverskrift */
    margin-bottom: 50px;
}

.seemore a {
    font-family: 'Plus Jakarta San', sans-serif;
    font-size: 18px;
    color: #829B6A;
    text-decoration: none;
}

.seemore a:hover {
    color: #6C2960;
}

#back {
    display: flex;
    justify-content: end;
    padding-right: 12%;
    padding-bottom: 1%;
    font-family: 'Plus Jakarta San', sans-serif;
    font-size: 18px;
    color: #829B6A;
    text-decoration: none;
}

#back a:hover {
    color: #6C2960;
}

#gomap {
    position: relative;
    overflow: hidden;
    width: 100%;   
}

#gomap iframe {
    width: 100%;
    height: 10%;
}

/******** Underside-content ********/
#menubox {
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 50px;
}

.subsiteimg {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.subsiteimg div {
    background-color: #cedbc2;
    border-style: solid;
    border-width: 2px;
    border-color: #376A46;
    border-radius: 10px;

    padding: 15px;
    margin: 20px;
}

.subsiteimg div img {
    height: auto;
    width: 350px;

    border-radius: 10px;
}

.subsiteimg div h2 {
    font-size: 32px;
}



/******* Sticky menu *******/
.fourcards div {
    height: 175px;
    width: 100%;
    background-color: rgba(55, 106, 70, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.fourcards {
    position: sticky;
    top: 75px;
    width: 100%;
    flex-wrap: wrap;
}

.menupic {
    height: 125px;
    width: 250px;

    border-radius: 10px;

    margin-right: 15px;
    margin-left: 15px;

    opacity: 75%;
}

.snglcrd {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.snglcrd:hover {
    transform: scale(1.08);
    opacity: 100%;
    transition: 0.7s;
}

.snglcrd h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    font-size: 36px;
    /* background-color: rgba(130, 155, 106, 0.5); */
}


/******************************************** Media Query ********************************************/
    @media screen and (max-width:1150px) {
        #compheader {
            height: 50px;
            width: 100%;

            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-bottom-color: #000000;
            background-color: #FFFFFF;

            display: flex;
            justify-content: right;
            align-items: center;

            position: fixed;
            top: 0;
            left: 0;
            z-index: 10000;
        }

        #compnav {
            display: none;
        }

        #tablogo {
            display: none;
        }

        .fourcards {
            display: none;
        }

        .mobfoot {
            display: none;
        }

        #topphoto {
            width: 100%;
            height: auto;
            margin-top: 50px;
        }

        /********* fonts *********/
        h1 {
            font-family: 'Genos', sans-serif;
            font-size: 72px;
            color: #376A46;
        }

        h2 {
            font-family: 'Jura', sans-serif;
            font-size: 32px;
            color: #697F3E;
            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            color: #376A46;
        }

        h4 {
            font-family: 'Jura', sans-serif;
            font-size: 32px;
            color: #FFFFFF;
            color: #FFFFFF;
            text-decoration: none;
        }

        p {
            font-family: 'Plus Jakarta San', sans-serif;
            font-size: 20px;
            color: #000000;
        }

        a {
            text-decoration: none;
        }
    }

    @media screen and (max-width:860px) {
        #complogo {
            display: none;
        }

        #compnav {
            display: none;
        }

        #tablogo {
            height: 125px;
            width: 125px;
            position: fixed;
            top: 10px;
            display: flex;
            justify-content: center;
            margin-left: 20px;
            z-index: 10002;
        }

        footer div {
            flex-wrap: wrap;
        }

        .mobfoot {
            width: 100%;
            height: 225px;
            background-color: #376A46;

            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .mobfoot p {
            color: #FFFFFF;
            font-family: 'Jura', sans-serif;
            font-size: 18px;
            flex-wrap: wrap;
        }

        .kntkt2 {
            display: flex;
            justify-content: left;
            margin: 15px;
        }

        .kntkt2 img {
            margin-right: 15px;
        }


        /********* fonts *********/
        h1 {
            font-family: 'Genos', sans-serif;
            font-size: 38px;
            color: #376A46;
        }

        h2 {
            font-family: 'Jura', sans-serif;
            font-size: 24px;
            color: #697F3E;
            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Jura', sans-serif;
            font-size: 20px;
            color: #376A46;
        }

        h4 {
            font-family: 'Jura', sans-serif;
            font-size: 32px;
            color: #FFFFFF;
            text-decoration: none;
        }

        p {
            font-family: 'Plus Jakarta San', sans-serif;
            font-size: 16px;
            color: #000000;
        }

        .seemore a {
            text-decoration: none;
            font-size: 16px;
        }

        #scl2 a {
            margin-left: 15px;
        }

        .menuimgcontainer h2 {
            font-size: 24px;
        }
    }

    @media screen and (max-width:360px) {
        #compnav {
            display: none;
        }

        #complogo {
            display: none;
        }

        #tablogo {
            display: none;
        }

        .fourcards {
            display: none;
        }

        #menubox {
            margin-top: 15px;

        }

        .menuimgcontainer div {
            margin: 10px;
        }

        .headtext {
            margin-bottom: 15px;
        }

        /********* fonts *********/
        h1 {
            font-family: 'Genos', sans-serif;
            font-size: 26px;
            color: #376A46;
        }

        h2 {
            font-family: 'Jura', sans-serif;
            font-size: 18px;
            color: #697F3E;
            margin-bottom: 20px;
        }

        h3 {
            font-family: 'Jura', sans-serif;
            font-size: 14px;
            color: #376A46;
        }

        h4 {
            font-family: 'Jura', sans-serif;
            font-size: 32px;
            color: #FFFFFF;
            text-decoration: none;
        }

        p {
            font-family: 'Plus Jakarta San', sans-serif;
            font-size: 14px;
            color: #000000;
        }

        .seemore a {
            text-decoration: none;
            font-size: 14px;
        }

        .navbar-links a {
            font-size: 20px;
        }

        .menuimgcontainer h2 {
            font-size: 16px;
        }
    }