@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jura:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(images/1hede.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Genos', sans-serif;
    font-size: 200px;
    color: #FFFFFF;
}

h2 {
    font-family: 'Genos', sans-serif;
    font-size: 96px;
    color: #FFFFFF;
}

h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 50px;
    color: #376A46;

}

/******************************************** Main ********************************************/

main {
    margin: 150px;
}


#forside {
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.box1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 200px;
}

.box2 {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 200px;
}

#plan {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

#plan a {
    font-family: 'Jura', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    margin-left: 45px;
    margin-right: 45px;
}


/******** Knap ********/
#knap {
    background-color: #6C2960;
    color: white;

    padding: 8px 20px 8px 20px;
    border-radius: 30px;
    margin-top: 10px;

    transition: 0.5s;

    font-family: 'Jura', sans-serif;
    text-decoration: none;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#knap:hover {
    background-color: #829B6A;
}


/******************************************** Media Query ********************************************/
@media screen and (min-width:1150px) {
    #tabmobnav {
        display: none;
    }

    .tabsitephoto {
        display: none;
    }

    .mobsitephoto {
        display: none;
    }

    #tablogo {
        display: none;
    }

    .mobfoot {
        display: none;
    }

}

@media screen and (max-width:860px) {
    main {
        margin: 100px;
    }

    .mobfoot p {
        color: #FFFFFF;
        font-family: 'Jura', sans-serif;
        font-size: 18px;
        flex-wrap: wrap;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 125px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 64px;
        color: #FFFFFF;
    }

    h3 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Jura', sans-serif;
        font-size: 40px;
        color: #FFFFFF;
    
    }

    #plan a {
        font-family: 'Jura', sans-serif;
        font-size: 40px;
        color: #FFFFFF;
    }

}

@media screen and (max-width:700px) {
    main {
        margin: 75px;
        margin-top: 100px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 100px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 56px;
        color: #FFFFFF;

        margin-left: 35px;
        margin-right: 35px;
    }


    h3 {
        font-size: 30px;
    }

    #plan a {
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {
    main {
        margin: 75px;
        margin-top: 100px;
    }

    .box1 {
        margin-bottom: 150px;
    }

    .box2 {

        margin-bottom: 150px;
    }
    
    #knap {
        padding: 8px 20px 8px 20px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 80px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        margin-left: 30px;
        margin-right: 30px;
    }


}

@media screen and (max-width:500px) {
    main {
        margin: 50px;
        margin-top: 100px;
    }



    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 70px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 48px;
        color: #FFFFFF;
        margin-left: 25px;
        margin-right: 25px;
    }

    h3 {
        font-size: 25px;
    }

    #plan a {
        font-size: 25px;
    }

}

@media screen and (max-width:400px) {
    main {
        margin: 35px;
        margin-top: 125px;
    }

    .box1 {
        margin-bottom: 125px;
    }

    .box2 {
        margin-bottom: 125px;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 60px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 38px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px;
    }

}


@media screen and (max-width:360px) {
    main {
        margin: 35px;
        margin-top: 100px;
    }

    #compnav {
        display: none;
    }

    .navbar-links a {
        font-size: 20px;
    }

    #complogo {
        display: none;
    }

    #tablogo {
        display: none;
    }

    .compsitephoto {
        display: none;
    }

    .fourcards {
        display: none;
    }

    .comptabfoot {
        height: 250px;
    }

    footer div {
        flex-wrap: wrap;
    }

    .comptabfoot {
        display: none;
    }

    /********* fonts *********/
    h1 {
        font-family: 'Genos', sans-serif;
        font-size: 50px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Genos', sans-serif;
        font-size: 30px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        font-size: 20px;    
    }

    #plan a {
        font-size: 20px;
    }

}